.alerta {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.contenido {
    max-width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: alertaEntrada 0.5s forwards;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

@keyframes alertaEntrada {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes alertaSalida {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}